<div layout-gt-md="row">
    <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Memory load" template="app/views/partials/sharedData.html" class="fixed-height-widget"></panel-widget>

</div>


<div layout-gt-md="row">
    <panel-widget flex title="Pie Chart" template="app/views/partials/pieChart.html"></panel-widget>
    <panel-widget flex title="multibar Horizontal Chart" template="app/views/partials/multibarHorizontal.html"></panel-widget>

</div>


<div layout-gt-md="row">
    <panel-widget flex title="Line Chart" template="app/views/partials/lineChart.html" options="true"></panel-widget>
    <panel-widget flex title="Line Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Line Chart" template="app/views/partials/lineChart.html" options="true"></panel-widget>

</div>


<div layout-gt-md="row">
    <panel-widget flex title="Discreate Bar Chart" template="app/views/partials/barDiscreate.html" options="true"></panel-widget>
    <panel-widget flex title="Historical Bar Chart" template="app/views/partials/BarHistorical.html"></panel-widget>
</div>


<div layout-gt-md="row">
    <panel-widget flex title="Stacked Area" template="app/views/partials/stackedArea.html"></panel-widget>
    <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
</div>


<div layout-gt-md="row">
    <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
    <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>