<!-- TODO: Add validations -->
<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-input-container>
        <label>Username</label>
        <input ng-model="vm.user.title">
    </md-input-container>
    <md-input-container>
        <label>Email</label>
        <input ng-model="vm.user.email" type="email">
    </md-input-container>
</md-content>
<md-content class="md-padding">
    <form name="userForm">
        <div layout layout-sm="column">
        </div>
        <md-input-container flex>
            <label>About us</label>
        
        </md-input-container>
    </form>
</md-content>
